.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .input {
    display: none;
  }

  .label {
    display: flex;
    align-items: center;
    position: relative;
    min-width: 250px;
    cursor: pointer;
  }
  .text {
    position: absolute;
    left: 35px;
    font-weight: 400;
    color: #464646;
  }
  .icon {
    -left: 10px;
    width: 45px;
    height: 45px;
    transition: ease-in-out 400ms;
  }
}

.checkboxActive {
  background: url("../images/checkboxchecked.svg") 0px center no-repeat;
}
.checkboxNotActive {
  background: url("../images/checkbox.svg") 0px center no-repeat;
}
